.hero-section {
  margin-top: 2rem;
}

.hero-title {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 5rem;
  letter-spacing: -4px;
  font-weight: 500;
}

.hero-image-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.hero-image-1 {
  display: none;
  width: 100%;
}

.hero-image-2 {
  display: none;
}

.hero-image-3 {
  display: block;
  width: 100%;
}

.hero-sponsor-container {
  margin-top: 3rem;
}

.sponsor-logo {
  width: 6rem;
}

.hero-label {
  font-family: "Inter", sans-serif;
  color: var(--clr-accent-6);
  font-weight: 400;
  font-size: var(--size-xs);
}


.hero-sponsor {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 2.5rem;
  margin: 2rem;
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 670px) {} */

/* md */
@media (min-width: 768px) {
    .hero-section {
      margin-top: 2rem;
    }

    .hero-title {
      text-align: center;
      display: block;
      font-family: "Playfair Display", serif;
      font-size:  9rem;
      letter-spacing: -4px;
      font-weight: 500;
    }

    .hero-image-container {
      display: flex;
      justify-content: center;
    }

    .hero-image-1 {
      display: none;
    }

    .hero-image-2 {
      display: block;
      width: 100%;
    }

    .hero-image-3 {
      display: none;
    }

  .hero-label {
    font-size: var(--size-sm);
   }
    
  .hero-sponsor {
    display: flex;
    margin: 1rem;
    gap: 2rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
   }

  .sponsor-logo {
    width: 8rem;  
  }
}

/* lg */
@media (min-width: 1024px) {
   .hero-section {
    margin-top: 2rem;
  }

  .hero-title {
    text-align: center;
    display: block;
    font-family: "Playfair Display", serif;
    font-size:  9rem;
    letter-spacing: -4px;
    font-weight: 500;
  }

  .hero-image-container {
    display: flex;
    justify-content: center;
  }

  .hero-image-1 {
    display: block;
  }

  .hero-image-2 {
    display: none;
  }

  .hero-image-3 {
    display: none;
  }

  .hero-label {
  font-size: var(--size-base);
  }
  
  .hero-sponsor {
    display: flex;
    margin: 1rem;
    gap: 2rem;
    justify-content: space-evenly;
  }

  .sponsor-logo {
    width: 8.5rem;  
  }

}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
