.info-section {
  margin-top: 12rem;
}

.info-label {
  font-family: "Inter", sans-serif;
  color: var(--clr-accent-1);
  font-size: var(--size-base);
  font-weight: 600;
  letter-spacing: 1px;
  
}

.info-title-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 4rem;
}

.info-title {
  font-family: "Playfair Display", serif;
  font-size: var(--size-6xl);
  font-weight:400;
  word-wrap: break-word;
}

.info-description {
  display: flex;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  margin-top: 3rem;
  color: var(--clr-accent-6);
  width: 25rem;
  word-wrap: break-word;
}

.info-container {
  margin-top: 10rem;
  display: grid;
  justify-content: start;
  flex-direction: column;
  gap: 3rem;
}

.info-paragraph {
  color: var(--clr-accent-6);
  margin-top: 1rem;
  font-size: var(--size-sm);
  word-wrap: break-word;
  width: 15rem;
}


.info-label-inner {
  font-family: "Playfair Display", serif;
  font-weight: bold; 
  font-size: var(--size-base);
} 

.info-image-container {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
}

.info-image-1 {
  display: none;
}

.info-image-2 {
  display: none;
}


.info-image-3 {
  display: block;
}



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 670px) {} */

/* md */
@media (min-width: 768px) {
  .info-label {
    font-size: var(--size-base);
  }

  .info-title {
    font-size: var(--size-6xl);
  }

  .info-description {
    color: var(--clr-accent-6);
    width: 27rem;
  }
  
  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }

  .info-label-inner {
    font-weight: var(--size-base);
    font-weight: bold;
  } 
    
  .info-paragraph {
    color: var(--clr-accent-6);
    margin-top: 1rem;
    font-size: var(--size-sm);
    word-wrap: break-word;
    width: 20rem;
  }

  .info-image-container {
  display: flex;
  justify-content: center;
 }

  .info-image-1 {
    display: none;
  }

  .info-image-2 {
    display: block;
  }


  .info-image-3 {
    display: none;
  }


}

/* lg */
@media (min-width: 1024px) {
  .info-label {
    font-size: var(--size-sm);
    
  }

  .info-title {
    font-size: var(--size-6xl);
  }

  .info-description {
    margin-top: 3rem;
    color: var(--clr-accent-6);
  }

  .info-container {
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
  }
  

  .info-label-inner {
    font-size: var(--size-lg);
    font-weight: bold;
  }   

   .info-paragraph {
    color: var(--clr-accent-6);
    font-size: var(--size-base);
    word-wrap: break-word;
    width: 15rem;
  }

  .info-image-container {
    display: flex;
    justify-content: center;
  }

  .info-image-1 {
    display: block;
  }

  .info-image-2 {
    display: none;
  }


  .info-image-3 {
    display: none;
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */
