.specifications-section {
  margin-top: 7rem;
}

.specific-header {
  display: grid;
  place-items: center;
  gap: 2rem;
  text-align: center;
}

.specific-label {
  color: var(--clr-accent-1);
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  font-size: var(--size-sm);
}

.specific-title {
    font-family: "Playfair Display", serif;
    font-size: var(--size-5xl);
    font-weight: 500;
}

.specific-paragraph {
  color: var(--clr-accent-6);
  width: 25rem;
}

.specific-btn {
  padding: 0.8rem 1.5rem;
}

    /* grid */
.specific-table-container  {
  margin-top: 5rem;
}  

.column-header {
  font-family: "Inter", sans-serif;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  text-align: start;
  color: var(--clr-accent-6);
 }

 
.col-1, 
.col-2, 
.col-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7,auto);
}

.col-1:hover,  
.col-2:hover,
.col-3:hover {
  box-shadow: rgba(99, 99, 99, 0.5) 0px 2px 8px 0px;
  color: var(--clr-accent-4);
  border-radius: 20px;
  transition: 0.5s;
  border: none;
}

.table-title {
  font-size: var(--size-2xl);
  padding: 3rem;
  font-weight: 600;
  border-bottom: 1px solid black;
  text-align: center;
}

.specific-table {
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-left: none;
  border-right: none;
  border-top: none;
}

/* end of grid */



/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 670px) {} */

/* md */
@media (min-width: 768px) {
  .specific-label {
    font-size: var(--size-sm);
  }

  .specific-title {
      font-size: var(--size-5xl);
  }

  .specific-paragraph {
    color: var(--clr-accent-6);
    width: 38rem;
  }

  .specific-table-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
  }

  .col-1, 
  .col-2, 
  .col-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,auto);
  }

  .table-title {
    font-size: var(--size-2xl);
  }

  .specific-table {
    padding: 1.5rem;    
  }
}

/* lg */
@media (min-width: 1024px) {
    .specific-label {
    font-size: var(--size-base);
  }

  .specific-title {
    font-family: "Playfair Display", serif;
    font-size: var(--size-5xl);
  }

  .specific-paragraph {
    color: var(--clr-accent-6);
    width: 45rem;
  }

   .specific-table-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: start;
  }

  .col-1, 
  .col-2, 
  .col-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7,auto);
  }

  .table-title {
    font-size: var(--size-3xl);
    padding: 3rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    text-align: center;
  }

  .specific-table {
    padding: 2rem;  
  }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */