:root {
/* colors */
  
  --clr-accent-1: #485C11;
  --clr-accent-2: #DFECC6;
  --clr-accent-3: #8E9C78;
  --clr-accent-4: #000000;
  --clr-accent-5: #6F6F6F;
  --clr-accent-6: #929292;
  --clr-background: #FFFFFF;

/* sizes */
--size-xxs: 0.5rem;
--size-xs: 0.75rem;
--size-sm: 0.875rem;
--size-base: 1rem;
--size-lg: 1.125rem;
--size-xl: 1.25rem;
--size-2xl: 1.5rem;
--size-3xl: 1.875rem;
--size-4xl: 2.25rem;
--size-5xl: 3rem;
--size-6xl: 3.75rem;
--size-7xl: 4.5rem;
--size-8xl: 6rem;
--size-9xl: 8rem;
--size-10xl: 10rem;

}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-coal);
}


img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

strong {
  color: var(--clr-slate400);
}

a {
  color: black;
  text-decoration: none;
}


button {
  display: inline-block;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  color: inherit;
}

.dark-btn {
  background-color:#485C11;
  border-radius: 40px;
  border: none;
   font-family: "Inter", sans-serif;
}

.light-btn {
  background-color:#DFECC6;
  color: black;
  border-radius: 40px;
  border: none;
  font-weight: bold;
}
